*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(233,47%,7%);
}
.container{
   
    width:1000px;
    height:400px;
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
}
.text-section{
    
    width:500px;
    height:400px;
    background-color: hsl(244, 38%, 16%);
}
.one{
    color: hsl(0,0%,100%);
    padding-top: 30px;
    font-weight:400,700;
    font-family: 'Inter', sans-serif;

}
.text1{
    padding-top: 30px;
    padding-left: 50px;
}
.two{
    padding-top: 30px;
    color:hsla(0,0%,100%,0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight:400;
}
/* .image{
    
    filter: violet(450px);
} */
.image{
    position: relative;
   
    
}
.image::after{
    position: absolute;
    height:100%;
    width:100%;
    content:'';
    left:0;
    right: 0;
    background-color:hsl(277,64%,61%);
    opacity:0.6;
}
.c1{
    padding-top: 30px;
    display: flex;
    
   
}

.c11{
    color: hsl(0,0%,100%);
    font-weight: 300;
    font-family: 'Inter', sans-serif;

}

.c12,.c13{
    padding-left: 70px;
    color: hsl(0,0%,100%);
    font-weight: 300;
    font-family: 'Inter', sans-serif;
}
.c2{
   
    display: flex;
}
.c21{
    color:hsla(0,0%,100%,0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight:400;
    padding-top: 10px;
}
.c22,.c23{
    padding-left: 40px;
    color:hsla(0,0%,100%,0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight:400;
    padding-top: 10px;
}
.text2{
    padding-top: 30px;
    color:hsla(0,0%,100%,0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight:400;
    padding-top: 10px;
}

@media screen and (max-width:900px) {
    .card{
        grid-template-columns: auto;
        grid-template-rows: 30% 70%;
        height: 65vh;
        overflow: auto;
    }
    .image{
        order: -1;
    }
}
